* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rye';

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background: #010615;
    color: white;
    
}
.box {
    position: relative;
    /* puts boxes next to eachother */
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 40px;

}
/* gave boxes white border  */
.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;

}
.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
    /* gave glowing edges  */
}
/* makes each card have vertical lines to split colors  */
.box:nth-child(1):before, 
.box:nth-child(1):after {
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
    /* gave box 1 linear grad  */
}
.box:nth-child(2):before, 
.box:nth-child(2):after {
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
    /* gave box 2 linear grad  */
}
.box:nth-child(3):before, 
.box:nth-child(3):after {
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);
    /* gave box 3 linear grad  */
}
.box .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255,255,255,0.1);
    pointer-events: none;

}
.box .content {
    padding: 20px;
    color: white;

}
